:root {
    --color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.erreur {
    text-align: center;
    font-size: 25;
}

.message {
    text-align: center;
    font-size: 25px;
}

#RDV {
    text-align: center;
    justify-content: center;
    align-items: center;
}