body {
    background: rgb(56, 56, 176);
}


/*Reset CSS*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, sans-serif;
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    padding-top: 50px;
}

nav li {
    float: left;
    width: 20%;
    /*100% divisé par le nombre d'éléments de menu*/
    text-align: center;
    /*Centre le texte dans les éléments de menu*/
}


/*Evite que le menu n'ait une hauteur nulle*/

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;
    /*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

.navbar li:hover ul {
    display: flex;
    flex-direction: column;
}

.navbar li ul li a {
    border: #FFC72C
}

img {
    width: 50%;
}