body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.card {
	width: 400px;
	margin: 50px auto;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	text-align: center;
	
	display: inline-block;
	
}
.card-container{
	display: flex;
}

.card img {
	border-radius: 50%;
	margin-bottom: 20px;
  
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
}

p
 {
	margin-bottom: 5px;
}



strong {
	font-weight: bold;
}
.card a{
    text-decoration: none;
    color: black;
	margin-bottom: 1rem;
} 

.card a:hover{
 color: #FFC72C;
}

.card input {
	width: 20rem;
	height: 2rem;
}

.modifier{
	display: flex;
	justify-content: end;
}


